table,th,td {
    border:1px solid black;
    font-size: 20px;
    width: 500px;
}
.Pagination{
    display: flex;
    margin: 20px;
}
button:active{
    background:olive;
}
.data{
    text-align:center;
    justify-content: space-around;
}
